<div class="login-wrapper d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="offset-lg-4 col-lg-4 col-12">
        <img src="/src/assets/img/logo.png" alt="logo">
        <form class="example-form">
          <mat-form-field class="input">
            <input matInput placeholder="Email" [formControl]="emailFormControl"
                   [errorStateMatcher]="matcher" [value]="">
            <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Неверный формат e-mail
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              E-mail <strong>обязателен</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input">
            <input matInput placeholder="Пароль" [formControl]="passwordFormControl"
                   [errorStateMatcher]="matcher" type="password" [value]="">
            <!--<mat-hint>Errors appear instantly!</mat-hint>-->
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Пароль <strong>обязателен</strong>
            </mat-error>
          </mat-form-field>
          <button (click)="submitButton()" mat-flat-button color="primary">Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>
