.login-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.login-wrapper img {
  width: 100%;
  display: block;
  margin: 0 auto 50px auto;
}

form {
  padding: 15px;
}

.input {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 30px;
}
